<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <title th:text="${passwordInfo}"></title>

</head>
<body>
<div layout:fragment="content">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="section-block" id="basicform">
            <h2 class="section-title" data-th-text="#{clientPassword.label.description}"></h2>
        </div>
        <div class="card">
            <div class="card-body">


                <form action="#" th:action="${add} ? @{/clientPassword/create/{id}(id = ${clientPassword.id})} : @{/clientPassword/updateClientPassword/{id}(id = ${clientPassword.id})}"
                      th:object="${clientPassword}"
                      method="POST">

                    <div class="form-group">
                        <label for="inn" class="text-dark font-bold" data-th-text="#{clientPassword.label.inn}"></label>
                        <input id="inn" type="text" class="form-control"
                               th:value="${inn} ? ${clientPassword.inn} : ' '"
                               th:field="*{inn}">
                        <p th:if="${#fields.hasErrors('inn')}" style="color:red;"
                           th:errors="*{inn}">Incorrect LP</p>
                    </div>

                    <div class="form-group">
                        <label for="seriaNo" class="text-dark font-bold" data-th-text="#{clientPassword.label.position}"></label>
                        <input id="seriaNo" type="text" class="form-control"
                               th:value="${seriaNo} ? ${clientPassword.seriaNo} : ' '"
                               th:field="*{seriaNo}">
                        <p th:if="${#fields.hasErrors('seriaNo')}" style="color:red;"
                           th:errors="*{seriaNo}">Incorrect LP</p>
                    </div>

                    <div class="form-group">
                        <label for="releaseDate" class="text-dark font-bold" data-th-text="#{clientPassword.label.release_date}"></label>
                        <input id="releaseDate" type="date" class="form-control"
                               th:value=" ${releaseDate} ? ${clientPassword.releaseDate} : '' "
                               th:field="*{releaseDate}"/>
                        <p th:if="${#fields.hasErrors('releaseDate')}" style="color:red;"
                           th:errors="*{releaseDate}">Incorrect LP</p>
                    </div>

                    <div class="form-group">
                        <label for="issuedByWhom" class="text-dark font-bold" data-th-text="#{clientPassword.label.issuedByWhom}"></label>
                        <input id="issuedByWhom" type="date" class="form-control"
                               th:value=" ${issuedByWhom} ? ${clientPassword.issuedByWhom} : '' "
                               th:field="*{issuedByWhom}"/>
                        <p th:if="${#fields.hasErrors('issuedByWhom')}" style="color:red;"
                           th:errors="*{issuedAuthority}">Incorrect LP</p>
                    </div>


                    <div class="form-group">
                        <label for="addressRegion" class="text-dark font-bold" data-th-text="#{clientPassword.label.address_region}"></label>
                        <input id="addressRegion" type="text" class="form-control"
                               th:value=" ${addressRegion} ? ${clientPassword.addressRegion} : '' "
                               th:field="*{addressRegion}"/>
                        <p th:if="${#fields.hasErrors('addressRegion')}" style="color:red;"
                           th:errors="*{addressRegion}">Incorrect LP</p>
                    </div>

                    <div class="form-group">
                        <label for="street" class="text-dark font-bold" data-th-text="#{clientPassword.label.street}"></label>
                        <input id="street" type="text" class="form-control"
                               th:value=" ${street} ? ${clientPassword.street} : '' "
                               th:field="*{street}"/>
                        <p th:if="${#fields.hasErrors('street')}" style="color:red;"
                           th:errors="*{street}">Incorrect LP</p>
                    </div>

                    <div class="form-group">
                        <label for="numberHome" class="text-dark font-bold" data-th-text="#{clientPassword.label.numberHome}"></label>
                        <input id="numberHome" type="text" class="form-control"
                               th:value=" ${numberHome} ? ${clientPassword.numberHome} : '' "
                               th:field="*{numberHome}"/>
                        <p th:if="${#fields.hasErrors('numberHome')}" style="color:red;"
                           th:errors="*{numberHome}">Incorrect LP</p>
                    </div>

                    <div class="form-group">
                        <label for="numberHomeNo" class="text-dark font-bold" data-th-text="#{clientPassword.label.home_number}"></label>
                        <input id="numberHomeNo" type="text" class="form-control"
                               th:value=" ${numberHomeNo} ? ${clientPassword.numberHomeNo} : '' "
                               th:field="*{numberHomeNo}"/>
                        <p th:if="${#fields.hasErrors('numberHomeNo')}" style="color:red;"
                           th:errors="*{numberHomeNo}">Incorrect LP</p>
                    </div>


                    <button th:text="${add} ? #{button.label.create} : #{button.label.update} "
                            th:class="${add} ? 'btn btn-success': 'btn btn-info' "
                            type="submit" class="btn btn-success" data-toggle="tooltip"
                            data-placement="top" title="Tooltip on top" >
                    </button>
                    <a type="button" th:style="${add} ? 'visibility:hidden' : ''" class="btn btn-danger"
                       data-toggle="modal" th:attr="data-target='#recordDeleteModal'+${clientPassword.id}" data-th-text="#{button.label.delete}"></a>
                </form>



                <!-- Modal -->
                <div class="modal fade" th:attr="id='recordDeleteModal'+${clientPassword.id}" tabindex="-1" role="dialog"
                     aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="recordDeleteModalLabel" data-th-text="#{button.label.delete_message}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <label data-th-text="#{clientDetailPage.label.confirm_to_delete}"></label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-th-text="#{label.no}"></button>
                                <form th:action="${add} ? @{/clientPassword/2} : @{/clientPassword/delete/{id}(id = ${clientPassword.id})}"
                                      th:object="${clientPassword}" th:method="${add} ? 'GET' : 'POST'">
                                    <button type="submit" class="btn btn-primary" data-th-text="#{label.yes}"></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>