<!doctype html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title data-th-text="#{clientList.label.header}"></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
        <div class="card">
            <!--  Table header and 'Create' Button  -->
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="w-75 p-3" data-th-text="#{clientList.label.header}"></h3>
                    </div>
                </div>

                <form class="row" th:action="@{/client/list}" method="get">
                    <div id="custom-search" class="top-search-bar col">
                        <input width="125px" class="form-control" type="text" name="search"
                               th:placeholder="#{clientList.label.search}">
                    </div>
                    <div class="col float-right">
                        <button type="submit" class="btn btn-info m-t-10"
                                data-th-text="#{button.label.search}"></button>
                    </div>
                </form>

            </div>

            <div id="resultBlock" th:fragment="resultList" class="card-body p-0" th:unless="${#lists.isEmpty(client)}">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="bg-light">
                        <tr class="border-0">
                            <th class="border-0" data-th-text="#{clientDetailPage.label.name}"></th>
                            <th class="border-0" data-th-text="#{clientDetailPage.label.first_name}"></th>
                            <th class="border-0" data-th-text="#{clientDetailPage.label.last_name}"></th>
                            <th class="border-0" data-th-text="#{clientDetailPage.label.create_date}"></th>
                        </tr>
                        </thead>
                        <tbody id="clientTableBody">

                        <tr th:each="client : ${clients}">
                            <!-- <td>
                                 <div class="m-r-10"><img th:src="${client.image}" alt="org" class="rounded" width="45">
                                 </div>
                             </td>-->
                            <td th:text="${client.name}"></td>
                            <td th:text="${client.firstName}"></td>
                            <td th:text="${client.lastName}"></td>
                            <td th:text="${#temporals.format(client.createDate, 'dd-MM-yyyy HH:mm')}"></td>
                            <td><a th:href="${client.id}"><i class="fa fa-arrow-right"></i></a></td>
                        </tr>
                        <!--    end of looping     -->
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <nav id="pagination_nav" aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li th:if="${clients.hasPrevious()}" class="page-item">
                    <a class="page-link" th:href="@{/client/list(page=${clients.number-1})}" tabindex="-1"
                       data-th-text="#{pagination.label.previous}"></a>
                </li>
                <th:block th:each="i: ${#numbers.sequence(0, clients.totalPages - 1)}">
                    <li class="page-item active" th:if="${clients.number == i}">
                        <span class="page-link">[[${i}+1]]</span>
                    </li>
                    <li th:unless="${clients.number == i}">
                        <a class="page-link" th:href="@{/client/list(page=${i})}">[[${i}+1]]</a>
                    </li>
                </th:block>
                <li class="page-item" th:if="${clients.hasNext()}">
                    <a class="page-link" th:href="@{/client/list(page=${clients.number+1})}"
                       data-th-text="#{pagination.label.next}"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>

</html>